* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#heading img {
    width: 40px;
    height: 40px;
}

#kanji {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #e74c3c
}

#furigana {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 20px 0;
}

#meaning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 20px 0;
}

#level {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 20px 0;
}

#btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btn {
    padding: 12px 25px;
    font-size: 1rem;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#btn:hover {
    background-color: #1549a3;
}

h4 {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
}